# PRISM: Processing Precip Amounts

This notebook provides for preliminary processing of precipitation amounts to see what we want to do in terms of distribution fitting.

Go through a month at a time and create the monthly DataFrame for analysis and then output it for distribution fitting in R.

After outputting then analyze the various DataFrames graphically and output some summary statistics to save from doing this in R.

From Wilks & Wilby (1999)
*"Most stochastic weather generators make the assumption that precipitation amounts
on wet days are independent, and follow the same distribution. Allowing different
probability distributions for precipitation amounts depending on that dayâ€™s position in
a wet spell (e.g., the mean rainfall on a wet day following a wet day might be greater
than on a wet day following a dry day) has been considered by Katz (1977), Buishand
(1977; 1978), Chin and Miller (1980) and Wilks (1999a), but allowing this extra
complexity often makes little difference to the result. Similarly, the autocorrelation
between successive nonzero precipitation amounts in daily series is sometimes (statistically) significantly different from zero, but is typically quite small and usually of little
practical importance (Katz, 1977; Buishand, 1977; 1978; Foufoula-Georgiou and
Lettenmaier, 1987). In contrast, accounting for serial correlation of nonzero precipitation
amounts is essential if the precipitation model has an hourly (or smaller) rather than a
daily time step (Katz and Parlange, 1995)."*

In [1]:
from IPython.display import display, HTML
import os
import numpy as np
import pandas as pd
import datetime as dt
import geopandas as gpd
from copy import deepcopy

In [2]:
OUT_DIR = r'\\augustine.space.swri.edu\jdrive\Groundwater\R8937_Stochastic_CC_Recharge\Da' \
          r'ta\JNotes\Processed\PRISM'

Have a DataFrame saved as a pickle file of all of the wet days. Use this as the base for the calculations in this notebook

In [3]:
IN_PICKLE = r'\\augustine.space.swri.edu\jdrive\Groundwater\R8937_Stochastic_CC_Recharge\D' \
            r'ata\JNotes\Processed\PRISM\WetDays_1981-2010.pickle'

In [4]:
WetDF = pd.read_pickle( IN_PICKLE )

In [5]:
display( HTML( WetDF.head().to_html() ) )

## Monthly Data

Now will split this DataFrame up by month, keeping the grid cell id, and only the other needed columns

In [6]:
AllCols = list( WetDF.columns )
AllCols[:6]

['Grid_Id', 'Year', 'Month', 'Day', 'Wet_Count', 'Total_Depth']

In [7]:
RootCols = deepcopy( AllCols[:6] )
DayCols = deepcopy( AllCols[6:] )

In [8]:
MaxDays = WetDF['Wet_Count'].max()
MaxDays

19

In [9]:
StartInd = 3

Go through each month and split out the wet days by month and output these for further distribution fitting in R.

### January

In [10]:
JanDF = WetDF[WetDF['Month'] == 1].copy()

In [11]:
display( HTML( JanDF.head().to_html() ) )

In [12]:
JanMaxCnt = JanDF['Wet_Count'].max()
JanMaxCnt

12

In [13]:
CurCols = [RootCols[0], RootCols[4], RootCols[5] ]
CurCols

['Grid_Id', 'Wet_Count', 'Total_Depth']

In [14]:
for jJ in range(JanMaxCnt):
    CurCols.append( DayCols[jJ] )
# end for

In [15]:
JanDF = JanDF[CurCols].copy()

In [16]:
JanDF.reset_index(drop=True, inplace=True)

In [17]:
display( HTML( JanDF.iloc[:10].to_html() ) )

In [18]:
JanTotDays = JanDF['Wet_Count'].sum()
JanTotDays

31710

Setup the arrays that will use to store all of the wet day precipitation depths

In [19]:
GridIDs = np.zeros( JanTotDays, dtype=np.int32 )
PDDepth = np.zeros( JanTotDays, dtype=np.float32 )

In [20]:
NumJanWet = len( JanDF )
NumJanWet

16990

In [21]:
iCnt = 0
for iI in range(NumJanWet):
    cRow = JanDF.loc[iI]
    cGridId = int( cRow.at["Grid_Id"] )
    cNumWet = int( cRow.at["Wet_Count"] )
    for jJ in range(cNumWet):
        cPDep = float( cRow.at[CurCols[StartInd+jJ]] )
        GridIDs[iCnt] = cGridId
        PDDepth[iCnt] = cPDep
        iCnt += 1
    # end of inner for
# end of outer for

In [22]:
GridIDs.min(), GridIDs.max()

(662328, 680607)

In [23]:
PDDepth.min(), PDDepth.max()

(0.2, 56.44)

In [24]:
DataDict = { "Grid_Id" : GridIDs,
             "Precip_mm" : PDDepth, }
JanDayDF = pd.DataFrame( data=DataDict )

In [25]:
display( HTML( JanDayDF.describe().to_html() ))

Now want to save the January DataFrame as both a pickle and a feather so that can reuse it with both Python and R.

In [26]:
JanPCKF = os.path.normpath( os.path.join( OUT_DIR, "January_WetDays_1981-2010.pickle" ) )
JanDayDF.to_pickle( JanPCKF )
JanFeatherF = os.path.normpath( os.path.join( OUT_DIR, "January_WetDays_1981-2010.feather" ) )
JanDayDF.to_feather( JanFeatherF )

### February

In [27]:
FebDF = WetDF[WetDF['Month'] == 2].copy()

In [28]:
display( HTML( FebDF.head().to_html() ) )

In [29]:
FebMaxCnt = FebDF['Wet_Count'].max()
FebMaxCnt

9

In [30]:
CurCols = [RootCols[0], RootCols[4], RootCols[5] ]
CurCols

['Grid_Id', 'Wet_Count', 'Total_Depth']

In [31]:
for jJ in range(FebMaxCnt):
    CurCols.append( DayCols[jJ] )
# end for

In [32]:
FebDF = FebDF[CurCols].copy()

In [33]:
FebDF.reset_index(drop=True, inplace=True)

In [34]:
display( HTML( FebDF.iloc[:10].to_html() ) )

In [35]:
FebTotDays = FebDF['Wet_Count'].sum()
FebTotDays

31218

Setup the arrays that will use to store all of the wet day precipitation depths

In [36]:
GridIDs = np.zeros( FebTotDays, dtype=np.int32 )
PDDepth = np.zeros( FebTotDays, dtype=np.float32 )

In [37]:
NumFebWet = len( FebDF )
NumFebWet

17193

In [38]:
iCnt = 0
for iI in range(NumFebWet):
    cRow = FebDF.loc[iI]
    cGridId = int( cRow.at["Grid_Id"] )
    cNumWet = int( cRow.at["Wet_Count"] )
    for jJ in range(cNumWet):
        cPDep = float( cRow.at[CurCols[StartInd+jJ]] )
        GridIDs[iCnt] = cGridId
        PDDepth[iCnt] = cPDep
        iCnt += 1
    # end of inner for
# end of outer for

In [39]:
GridIDs.min(), GridIDs.max()

(662328, 680607)

In [40]:
PDDepth.min(), PDDepth.max()

(0.2, 114.6)

In [41]:
DataDict = { "Grid_Id" : GridIDs,
             "Precip_mm" : PDDepth, }
FebDayDF = pd.DataFrame( data=DataDict )

In [42]:
display( HTML( FebDayDF.describe().to_html() ))

Now want to save the February DataFrame as both a pickle and a feather so that can reuse it with both Python and R.

In [43]:
FebPCKF = os.path.normpath( os.path.join( OUT_DIR, "February_WetDays_1981-2010.pickle" ) )
FebDayDF.to_pickle( FebPCKF )
FebFeatherF = os.path.normpath( os.path.join( OUT_DIR, "February_WetDays_1981-2010.feather" ) )
FebDayDF.to_feather( FebFeatherF )

### March

In [44]:
MarDF = WetDF[WetDF['Month'] == 3].copy()

In [45]:
display( HTML( MarDF.head().to_html() ) )

In [46]:
MarMaxCnt = MarDF['Wet_Count'].max()
MarMaxCnt

8

In [47]:
CurCols = [RootCols[0], RootCols[4], RootCols[5] ]
CurCols

['Grid_Id', 'Wet_Count', 'Total_Depth']

In [48]:
for jJ in range(MarMaxCnt):
    CurCols.append( DayCols[jJ] )
# end for

In [49]:
MarDF = MarDF[CurCols].copy()

In [50]:
MarDF.reset_index(drop=True, inplace=True)

In [51]:
display( HTML( MarDF.iloc[:10].to_html() ) )

In [52]:
MarTotDays = MarDF['Wet_Count'].sum()
MarTotDays

36839

Setup the arrays that will use to store all of the wet day precipitation depths

In [53]:
GridIDs = np.zeros( MarTotDays, dtype=np.int32 )
PDDepth = np.zeros( MarTotDays, dtype=np.float32 )

In [54]:
NumMarWet = len( MarDF )
NumMarWet

20910

In [55]:
iCnt = 0
for iI in range(NumMarWet):
    cRow = MarDF.loc[iI]
    cGridId = int( cRow.at["Grid_Id"] )
    cNumWet = int( cRow.at["Wet_Count"] )
    for jJ in range(cNumWet):
        cPDep = float( cRow.at[CurCols[StartInd+jJ]] )
        GridIDs[iCnt] = cGridId
        PDDepth[iCnt] = cPDep
        iCnt += 1
    # end of inner for
# end of outer for

In [56]:
GridIDs.min(), GridIDs.max()

(662328, 680607)

In [57]:
PDDepth.min(), PDDepth.max()

(0.2, 134.17)

In [58]:
DataDict = { "Grid_Id" : GridIDs,
             "Precip_mm" : PDDepth, }
MarDayDF = pd.DataFrame( data=DataDict )

In [59]:
display( HTML( MarDayDF.describe().to_html() ))

Now want to save the March DataFrame as both a pickle and a feather so that can reuse it with both Python and R.

In [60]:
MarPCKF = os.path.normpath( os.path.join( OUT_DIR, "March_WetDays_1981-2010.pickle" ) )
MarDayDF.to_pickle( MarPCKF )
MarFeatherF = os.path.normpath( os.path.join( OUT_DIR, "March_WetDays_1981-2010.feather" ) )
MarDayDF.to_feather( MarFeatherF )

### April

In [61]:
AprDF = WetDF[WetDF['Month'] == 4].copy()

In [62]:
display( HTML( AprDF.head().to_html() ) )

In [63]:
AprMaxCnt = AprDF['Wet_Count'].max()
AprMaxCnt

6

In [64]:
CurCols = [RootCols[0], RootCols[4], RootCols[5] ]
CurCols

['Grid_Id', 'Wet_Count', 'Total_Depth']

In [65]:
for jJ in range(AprMaxCnt):
    CurCols.append( DayCols[jJ] )
# end for

In [66]:
AprDF = AprDF[CurCols].copy()

In [67]:
AprDF.reset_index(drop=True, inplace=True)

In [68]:
display( HTML( AprDF.iloc[:10].to_html() ) )

In [69]:
AprTotDays = AprDF['Wet_Count'].sum()
AprTotDays

32742

Setup the arrays that will use to store all of the wet day precipitation depths

In [70]:
GridIDs = np.zeros( AprTotDays, dtype=np.int32 )
PDDepth = np.zeros( AprTotDays, dtype=np.float32 )

In [71]:
NumAprWet = len( AprDF )
NumAprWet

18513

In [72]:
iCnt = 0
for iI in range(NumAprWet):
    cRow = AprDF.loc[iI]
    cGridId = int( cRow.at["Grid_Id"] )
    cNumWet = int( cRow.at["Wet_Count"] )
    for jJ in range(cNumWet):
        cPDep = float( cRow.at[CurCols[StartInd+jJ]] )
        GridIDs[iCnt] = cGridId
        PDDepth[iCnt] = cPDep
        iCnt += 1
    # end of inner for
# end of outer for

In [73]:
GridIDs.min(), GridIDs.max()

(662328, 680607)

In [74]:
PDDepth.min(), PDDepth.max()

(0.2, 123.09)

In [75]:
DataDict = { "Grid_Id" : GridIDs,
             "Precip_mm" : PDDepth, }
AprDayDF = pd.DataFrame( data=DataDict )

In [76]:
display( HTML( AprDayDF.describe().to_html() ))

Now want to save the April DataFrame as both a pickle and a feather so that can reuse it with both Python and R.

In [77]:
AprPCKF = os.path.normpath( os.path.join( OUT_DIR, "April_WetDays_1981-2010.pickle" ) )
AprDayDF.to_pickle( AprPCKF )
AprFeatherF = os.path.normpath( os.path.join( OUT_DIR, "April_WetDays_1981-2010.feather" ) )
AprDayDF.to_feather( AprFeatherF )

### May

In [78]:
MayDF = WetDF[WetDF['Month'] == 5].copy()

In [79]:
display( HTML( MayDF.head().to_html() ) )

In [80]:
MayMaxCnt = MayDF['Wet_Count'].max()
MayMaxCnt

17

In [81]:
CurCols = [RootCols[0], RootCols[4], RootCols[5] ]
CurCols

['Grid_Id', 'Wet_Count', 'Total_Depth']

In [82]:
for jJ in range(MayMaxCnt):
    CurCols.append( DayCols[jJ] )
# end for

In [83]:
MayDF = MayDF[CurCols].copy()

In [84]:
MayDF.reset_index(drop=True, inplace=True)

In [85]:
display( HTML( MayDF.iloc[:10].to_html() ) )

In [86]:
MayTotDays = MayDF['Wet_Count'].sum()
MayTotDays

46398

Setup the arrays that will use to store all of the wet day precipitation depths

In [87]:
GridIDs = np.zeros( MayTotDays, dtype=np.int32 )
PDDepth = np.zeros( MayTotDays, dtype=np.float32 )

In [88]:
NumMayWet = len( MayDF )
NumMayWet

24916

In [89]:
iCnt = 0
for iI in range(NumMayWet):
    cRow = MayDF.loc[iI]
    cGridId = int( cRow.at["Grid_Id"] )
    cNumWet = int( cRow.at["Wet_Count"] )
    for jJ in range(cNumWet):
        cPDep = float( cRow.at[CurCols[StartInd+jJ]] )
        GridIDs[iCnt] = cGridId
        PDDepth[iCnt] = cPDep
        iCnt += 1
    # end of inner for
# end of outer for

In [90]:
GridIDs.min(), GridIDs.max()

(662328, 680607)

In [91]:
PDDepth.min(), PDDepth.max()

(0.2, 107.66)

In [92]:
DataDict = { "Grid_Id" : GridIDs,
             "Precip_mm" : PDDepth, }
MayDayDF = pd.DataFrame( data=DataDict )

In [93]:
display( HTML( MayDayDF.describe().to_html() ))

Now want to save the May DataFrame as both a pickle and a feather so that can reuse it with both Python and R.

In [94]:
MayPCKF = os.path.normpath( os.path.join( OUT_DIR, "May_WetDays_1981-2010.pickle" ) )
MayDayDF.to_pickle( MayPCKF )
MayFeatherF = os.path.normpath( os.path.join( OUT_DIR, "May_WetDays_1981-2010.feather" ) )
MayDayDF.to_feather( MayFeatherF )

### June

In [95]:
JunDF = WetDF[WetDF['Month'] == 6].copy()

In [96]:
display( HTML( JunDF.head().to_html() ) )

In [97]:
JunMaxCnt = JunDF['Wet_Count'].max()
JunMaxCnt

14

In [98]:
CurCols = [RootCols[0], RootCols[4], RootCols[5] ]
CurCols

['Grid_Id', 'Wet_Count', 'Total_Depth']

In [99]:
for jJ in range(JunMaxCnt):
    CurCols.append( DayCols[jJ] )
# end for

In [100]:
JunDF = JunDF[CurCols].copy()

In [101]:
JunDF.reset_index(drop=True, inplace=True)

In [102]:
display( HTML( JunDF.iloc[:10].to_html() ) )

In [103]:
JunTotDays = JunDF['Wet_Count'].sum()
JunTotDays

47121

Setup the arrays that will use to store all of the wet day precipitation depths

In [104]:
GridIDs = np.zeros( JunTotDays, dtype=np.int32 )
PDDepth = np.zeros( JunTotDays, dtype=np.float32 )

In [105]:
NumJunWet = len( JunDF )
NumJunWet

22743

In [106]:
iCnt = 0
for iI in range(NumJunWet):
    cRow = JunDF.loc[iI]
    cGridId = int( cRow.at["Grid_Id"] )
    cNumWet = int( cRow.at["Wet_Count"] )
    for jJ in range(cNumWet):
        cPDep = float( cRow.at[CurCols[StartInd+jJ]] )
        GridIDs[iCnt] = cGridId
        PDDepth[iCnt] = cPDep
        iCnt += 1
    # end of inner for
# end of outer for

In [107]:
GridIDs.min(), GridIDs.max()

(662328, 680607)

In [108]:
PDDepth.min(), PDDepth.max()

(0.2, 361.53)

In [109]:
DataDict = { "Grid_Id" : GridIDs,
             "Precip_mm" : PDDepth, }
JunDayDF = pd.DataFrame( data=DataDict )

In [110]:
display( HTML( JunDayDF.describe().to_html() ))

Now want to save the June DataFrame as both a pickle and a feather so that can reuse it with both Python and R.

In [111]:
JunPCKF = os.path.normpath( os.path.join( OUT_DIR, "June_WetDays_1981-2010.pickle" ) )
JunDayDF.to_pickle( JunPCKF )
JunFeatherF = os.path.normpath( os.path.join( OUT_DIR, "June_WetDays_1981-2010.feather" ) )
JunDayDF.to_feather( JunFeatherF )

### July

In [112]:
JulDF = WetDF[WetDF['Month'] == 7].copy()

In [113]:
display( HTML( JulDF.head().to_html() ) )

In [114]:
JulMaxCnt = JulDF['Wet_Count'].max()
JulMaxCnt

13

In [115]:
CurCols = [RootCols[0], RootCols[4], RootCols[5] ]
CurCols

['Grid_Id', 'Wet_Count', 'Total_Depth']

In [116]:
for jJ in range(JulMaxCnt):
    CurCols.append( DayCols[jJ] )
# end for

In [117]:
JulDF = JulDF[CurCols].copy()

In [118]:
JulDF.reset_index(drop=True, inplace=True)

In [119]:
display( HTML( JulDF.iloc[:10].to_html() ) )

In [120]:
JulTotDays = JulDF['Wet_Count'].sum()
JulTotDays

35651

Setup the arrays that will use to store all of the wet day precipitation depths

In [121]:
GridIDs = np.zeros( JulTotDays, dtype=np.int32 )
PDDepth = np.zeros( JulTotDays, dtype=np.float32 )

In [122]:
NumJulWet = len( JulDF )
NumJulWet

17334

In [123]:
iCnt = 0
for iI in range(NumJulWet):
    cRow = JulDF.loc[iI]
    cGridId = int( cRow.at["Grid_Id"] )
    cNumWet = int( cRow.at["Wet_Count"] )
    for jJ in range(cNumWet):
        cPDep = float( cRow.at[CurCols[StartInd+jJ]] )
        GridIDs[iCnt] = cGridId
        PDDepth[iCnt] = cPDep
        iCnt += 1
    # end of inner for
# end of outer for

In [124]:
GridIDs.min(), GridIDs.max()

(662328, 680607)

In [125]:
PDDepth.min(), PDDepth.max()

(0.2, 109.88)

In [126]:
DataDict = { "Grid_Id" : GridIDs,
             "Precip_mm" : PDDepth, }
JulDayDF = pd.DataFrame( data=DataDict )

In [127]:
display( HTML( JulDayDF.describe().to_html() ))

Now want to save the July DataFrame as both a pickle and a feather so that can reuse it with both Python and R.

In [128]:
JulPCKF = os.path.normpath( os.path.join( OUT_DIR, "July_WetDays_1981-2010.pickle" ) )
JulDayDF.to_pickle( JulPCKF )
JulFeatherF = os.path.normpath( os.path.join( OUT_DIR, "July_WetDays_1981-2010.feather" ) )
JulDayDF.to_feather( JulFeatherF )

### August

In [129]:
AugDF = WetDF[WetDF['Month'] == 8].copy()

In [130]:
display( HTML( AugDF.head().to_html() ) )

In [131]:
AugMaxCnt = AugDF['Wet_Count'].max()
AugMaxCnt

15

In [132]:
CurCols = [RootCols[0], RootCols[4], RootCols[5] ]
CurCols

['Grid_Id', 'Wet_Count', 'Total_Depth']

In [133]:
for jJ in range(AugMaxCnt):
    CurCols.append( DayCols[jJ] )
# end for

In [134]:
AugDF = AugDF[CurCols].copy()

In [135]:
AugDF.reset_index(drop=True, inplace=True)

In [136]:
display( HTML( AugDF.iloc[:10].to_html() ) )

In [137]:
AugTotDays = AugDF['Wet_Count'].sum()
AugTotDays

42151

Setup the arrays that will use to store all of the wet day precipitation depths

In [138]:
GridIDs = np.zeros( AugTotDays, dtype=np.int32 )
PDDepth = np.zeros( AugTotDays, dtype=np.float32 )

In [139]:
NumAugWet = len( AugDF )
NumAugWet

20087

In [140]:
iCnt = 0
for iI in range(NumAugWet):
    cRow = AugDF.loc[iI]
    cGridId = int( cRow.at["Grid_Id"] )
    cNumWet = int( cRow.at["Wet_Count"] )
    for jJ in range(cNumWet):
        cPDep = float( cRow.at[CurCols[StartInd+jJ]] )
        GridIDs[iCnt] = cGridId
        PDDepth[iCnt] = cPDep
        iCnt += 1
    # end of inner for
# end of outer for

In [141]:
GridIDs.min(), GridIDs.max()

(662328, 680607)

In [142]:
PDDepth.min(), PDDepth.max()

(0.2, 250.43)

In [143]:
DataDict = { "Grid_Id" : GridIDs,
             "Precip_mm" : PDDepth, }
AugDayDF = pd.DataFrame( data=DataDict )

In [144]:
display( HTML( AugDayDF.describe().to_html() ))

Now want to save the August DataFrame as both a pickle and a feather so that can reuse it with both Python and R.

In [145]:
AugPCKF = os.path.normpath( os.path.join( OUT_DIR, "August_WetDays_1981-2010.pickle" ) )
AugDayDF.to_pickle( AugPCKF )
AugFeatherF = os.path.normpath( os.path.join( OUT_DIR, "August_WetDays_1981-2010.feather" ) )
AugDayDF.to_feather( AugFeatherF )

### September

In [146]:
SepDF = WetDF[WetDF['Month'] == 9].copy()

In [147]:
display( HTML( SepDF.head().to_html() ) )

In [148]:
SepMaxCnt = SepDF['Wet_Count'].max()
SepMaxCnt

10

In [149]:
CurCols = [RootCols[0], RootCols[4], RootCols[5] ]
CurCols

['Grid_Id', 'Wet_Count', 'Total_Depth']

In [150]:
for jJ in range(SepMaxCnt):
    CurCols.append( DayCols[jJ] )
# end for

In [151]:
SepDF = SepDF[CurCols].copy()

In [152]:
SepDF.reset_index(drop=True, inplace=True)

In [153]:
display( HTML( SepDF.iloc[:10].to_html() ) )

In [154]:
SepTotDays = SepDF['Wet_Count'].sum()
SepTotDays

38721

Setup the arrays that will use to store all of the wet day precipitation depths

In [155]:
GridIDs = np.zeros( SepTotDays, dtype=np.int32 )
PDDepth = np.zeros( SepTotDays, dtype=np.float32 )

In [156]:
NumSepWet = len( SepDF )
NumSepWet

20781

In [157]:
iCnt = 0
for iI in range(NumSepWet):
    cRow = SepDF.loc[iI]
    cGridId = int( cRow.at["Grid_Id"] )
    cNumWet = int( cRow.at["Wet_Count"] )
    for jJ in range(cNumWet):
        cPDep = float( cRow.at[CurCols[StartInd+jJ]] )
        GridIDs[iCnt] = cGridId
        PDDepth[iCnt] = cPDep
        iCnt += 1
    # end of inner for
# end of outer for

In [158]:
GridIDs.min(), GridIDs.max()

(662328, 680607)

In [159]:
PDDepth.min(), PDDepth.max()

(0.2, 150.59)

In [160]:
DataDict = { "Grid_Id" : GridIDs,
             "Precip_mm" : PDDepth, }
SepDayDF = pd.DataFrame( data=DataDict )

In [161]:
display( HTML( SepDayDF.describe().to_html() ))

Now want to save the September DataFrame as both a pickle and a feather so that can reuse it with both Python and R.

In [162]:
SepPCKF = os.path.normpath( os.path.join( OUT_DIR, "September_WetDays_1981-2010.pickle" ) )
SepDayDF.to_pickle( SepPCKF )
SepFeatherF = os.path.normpath( os.path.join( OUT_DIR, "September_WetDays_1981-2010.feather" ) )
SepDayDF.to_feather( SepFeatherF )

### October

In [163]:
OctDF = WetDF[WetDF['Month'] == 10].copy()

In [164]:
display( HTML( OctDF.head().to_html() ) )

In [165]:
OctMaxCnt = OctDF['Wet_Count'].max()
OctMaxCnt

19

In [166]:
CurCols = [RootCols[0], RootCols[4], RootCols[5] ]
CurCols

['Grid_Id', 'Wet_Count', 'Total_Depth']

In [167]:
for jJ in range(OctMaxCnt):
    CurCols.append( DayCols[jJ] )
# end for

In [168]:
OctDF = OctDF[CurCols].copy()

In [169]:
OctDF.reset_index(drop=True, inplace=True)

In [170]:
display( HTML( OctDF.iloc[:10].to_html() ) )

In [171]:
OctTotDays = OctDF['Wet_Count'].sum()
OctTotDays

42270

Setup the arrays that will use to store all of the wet day precipitation depths

In [172]:
GridIDs = np.zeros( OctTotDays, dtype=np.int32 )
PDDepth = np.zeros( OctTotDays, dtype=np.float32 )

In [173]:
NumOctWet = len( OctDF )
NumOctWet

19477

In [174]:
iCnt = 0
for iI in range(NumOctWet):
    cRow = OctDF.loc[iI]
    cGridId = int( cRow.at["Grid_Id"] )
    cNumWet = int( cRow.at["Wet_Count"] )
    for jJ in range(cNumWet):
        cPDep = float( cRow.at[CurCols[StartInd+jJ]] )
        GridIDs[iCnt] = cGridId
        PDDepth[iCnt] = cPDep
        iCnt += 1
    # end of inner for
# end of outer for

In [175]:
GridIDs.min(), GridIDs.max()

(662328, 680607)

In [176]:
PDDepth.min(), PDDepth.max()

(0.2, 141.33)

In [177]:
DataDict = { "Grid_Id" : GridIDs,
             "Precip_mm" : PDDepth, }
OctDayDF = pd.DataFrame( data=DataDict )

In [178]:
display( HTML( OctDayDF.describe().to_html() ))

Now want to save the October DataFrame as both a pickle and a feather so that can reuse it with both Python and R.

In [179]:
OctPCKF = os.path.normpath( os.path.join( OUT_DIR, "October_WetDays_1981-2010.pickle" ) )
OctDayDF.to_pickle( OctPCKF )
OctFeatherF = os.path.normpath( os.path.join( OUT_DIR, "October_WetDays_1981-2010.feather" ) )
OctDayDF.to_feather( OctFeatherF )

### November

In [180]:
NovDF = WetDF[WetDF['Month'] == 11].copy()

In [181]:
display( HTML( NovDF.head().to_html() ) )

In [182]:
NovMaxCnt = NovDF['Wet_Count'].max()
NovMaxCnt

8

In [183]:
CurCols = [RootCols[0], RootCols[4], RootCols[5] ]
CurCols

['Grid_Id', 'Wet_Count', 'Total_Depth']

In [184]:
for jJ in range(NovMaxCnt):
    CurCols.append( DayCols[jJ] )
# end for

In [185]:
NovDF = NovDF[CurCols].copy()

In [186]:
NovDF.reset_index(drop=True, inplace=True)

In [187]:
display( HTML( NovDF.iloc[:10].to_html() ) )

In [188]:
NovTotDays = NovDF['Wet_Count'].sum()
NovTotDays

26792

Setup the arrays that will use to store all of the wet day precipitation depths

In [189]:
GridIDs = np.zeros( NovTotDays, dtype=np.int32 )
PDDepth = np.zeros( NovTotDays, dtype=np.float32 )

In [190]:
NumNovWet = len( NovDF )
NumNovWet

13478

In [191]:
iCnt = 0
for iI in range(NumNovWet):
    cRow = NovDF.loc[iI]
    cGridId = int( cRow.at["Grid_Id"] )
    cNumWet = int( cRow.at["Wet_Count"] )
    for jJ in range(cNumWet):
        cPDep = float( cRow.at[CurCols[StartInd+jJ]] )
        GridIDs[iCnt] = cGridId
        PDDepth[iCnt] = cPDep
        iCnt += 1
    # end of inner for
# end of outer for

In [192]:
GridIDs.min(), GridIDs.max()

(662328, 680607)

In [193]:
PDDepth.min(), PDDepth.max()

(0.2, 90.72)

In [194]:
DataDict = { "Grid_Id" : GridIDs,
             "Precip_mm" : PDDepth, }
NovDayDF = pd.DataFrame( data=DataDict )

In [195]:
display( HTML( NovDayDF.describe().to_html() ))

Now want to save the November DataFrame as both a pickle and a feather so that can reuse it with both Python and R.

In [196]:
NovPCKF = os.path.normpath( os.path.join( OUT_DIR, "November_WetDays_1981-2010.pickle" ) )
NovDayDF.to_pickle( NovPCKF )
NovFeatherF = os.path.normpath( os.path.join( OUT_DIR, "November_WetDays_1981-2010.feather" ) )
NovDayDF.to_feather( NovFeatherF )

### December

In [197]:
DecDF = WetDF[WetDF['Month'] == 12].copy()

In [198]:
display( HTML( DecDF.head().to_html() ) )

In [199]:
DecMaxCnt = DecDF['Wet_Count'].max()
DecMaxCnt

9

In [200]:
CurCols = [RootCols[0], RootCols[4], RootCols[5] ]
CurCols

['Grid_Id', 'Wet_Count', 'Total_Depth']

In [201]:
for jJ in range(DecMaxCnt):
    CurCols.append( DayCols[jJ] )
# end for

In [202]:
DecDF = DecDF[CurCols].copy()

In [203]:
DecDF.reset_index(drop=True, inplace=True)

In [204]:
display( HTML( DecDF.iloc[:10].to_html() ) )

In [205]:
DecTotDays = DecDF['Wet_Count'].sum()
DecTotDays

25103

Setup the arrays that will use to store all of the wet day precipitation depths

In [206]:
GridIDs = np.zeros( DecTotDays, dtype=np.int32 )
PDDepth = np.zeros( DecTotDays, dtype=np.float32 )

In [207]:
NumDecWet = len( DecDF )
NumDecWet

13768

In [208]:
iCnt = 0
for iI in range(NumDecWet):
    cRow = DecDF.loc[iI]
    cGridId = int( cRow.at["Grid_Id"] )
    cNumWet = int( cRow.at["Wet_Count"] )
    for jJ in range(cNumWet):
        cPDep = float( cRow.at[CurCols[StartInd+jJ]] )
        GridIDs[iCnt] = cGridId
        PDDepth[iCnt] = cPDep
        iCnt += 1
    # end of inner for
# end of outer for

In [209]:
GridIDs.min(), GridIDs.max()

(662328, 680607)

In [210]:
PDDepth.min(), PDDepth.max()

(0.2, 88.15)

In [211]:
DataDict = { "Grid_Id" : GridIDs,
             "Precip_mm" : PDDepth, }
DecDayDF = pd.DataFrame( data=DataDict )

In [212]:
display( HTML( DecDayDF.describe().to_html() ))

Now want to save the December DataFrame as both a pickle and a feather so that can reuse it with both Python and R.

In [213]:
DecPCKF = os.path.normpath( os.path.join( OUT_DIR, "December_WetDays_1981-2010.pickle" ) )
DecDayDF.to_pickle( DecPCKF )
DecFeatherF = os.path.normpath( os.path.join( OUT_DIR, "December_WetDays_1981-2010.feather" ) )
DecDayDF.to_feather( DecFeatherF )

## Preliminary Processing and Analysis of Monthly Data

In [214]:
pd.pivot_table( JanDayDF, values='Precip_mm', index='Grid_Id', aggfunc='mean' )

         Precip_mm
Grid_Id
662328    4.271742
662329    4.194088
662330    4.092147
662331    4.013354
662332    4.005951
662333    4.047469
662334    4.067178
662335    4.052866
662336    4.029697
662337    4.079632
662338    4.195759
662339    4.267922
662340    4.335333
662341    4.557500
662342    4.904469
663733    4.241529
663734    4.211667
663735    4.030185
663736    4.144331
663737    3.995183
663738    4.084198
663739    4.115679
663740    4.029157
663741    3.966686
663742    3.986488
663743    3.993750
663744    3.954731
663745    3.957590
663746    4.295000
663747    4.561276
...            ...
679188    3.938224
679189    4.009013
679190    4.006623
679191    3.922821
679192    3.912179
679193    3.987885
679194    4.118654
679195    4.548414
679196    5.032090
679197    5.590894
679198    5.755455
679199    5.868000
679200    5.815902
679201    5.558139
679202    5.133192
680593    4.001655
680594    3.941905
680595    3.937484
680596    3.854839
680597    3.946536
680598    3.923082
680599    4.288212
680600    4.537260
680601    4.754964
680602    4.834114
680603    5.046985
680604    5.200075
680605    5.371679
680606    5.158201
680607    4.907906

[210 rows x 1 columns]

In [215]:
import statsmodels as sm